<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./app.component.css">
  <title>Portfolio | Élito Lenon Prates</title>
</head>
<body>
  <nav class="menu">
    <ul>
       <li class="menu__item">
        <a href="/">Home</a>
       </li>

       <li class="menu__item">
        <a href="#">Sobre</a>
       </li>

       <li class="menu__item">
        <a href="#">Resumo</a>
       </li>

       <li class="menu__item menu__icon">
        <img src="../assets/images/icons/elitoDev.svg" height="120" width="120" alt="Icone-Logo" >
       </li>

       <li class="menu__item">
        <a href="#">Serviços</a>
       </li>

       <li class="menu__item">
        <a href="#">Portfolio</a>
       </li>

       <li class="menu__item">
        <a href="#">Contato</a>
       </li>
    </ul>
  </nav>
  <div class="container">
    <a href="#" class="card">
      <img class="card__bacground" src="../assets/images/site/degradeRoxo.webp">
      <img class="card__image" src="../assets/images/site/montagemTransp.png" alt="Sobre">
      <h2 class="card__title"> Sobre </h2>
    </a>

    <a href="#" class="card">
      <img class="card__bacground" src="../assets/images/site/degradeRoxo.webp">
      <img class="card__image" src="../assets/images/site/montagemTransp.png" alt="Curriculo">
      <h2 class="card__title"> Curriculo </h2>
    </a>

    <a href="#" class="card">
      <img class="card__bacground" src="../assets/images/site/degradeRoxo.webp">
      <img class="card__image" src="../assets/images/site/montagemTransp.png" alt="Skills">
      <h2 class="card__title"> Skills </h2>
    </a>

  </div>

</body>
</html>

<router-outlet></router-outlet>
